
.logo {
    margin: 10px;
    border-radius: 50%;
}
.background {
    background-color: #519fb6;
}

h3,h5 {
    font-family: "Gill Sans", sans-serif;
}

main {
    background-color:  #f0f3f4;
}

.btn {
    background-color: #519fb6;
}

@media screen and (max-width : 700px) and (orientation: portrait){
    iframe {
        display: none;
    }
}

@media screen and (min-width: 1200px){
    .event {
        width: 30vw;
    }
}

