
.logo {
    margin: 10px;
    border-radius: 50%;
}
.background {
    background-color: #519fb6;
}
h2 {
    font-style: italic;
}

h3,h5 {
    font-family: "Gill Sans", sans-serif;
}

main {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6a/Quadcopter_camera_drone_in_flight.jpg") ;
    background-color:  #f0f3f4;
    background-position: center;
    background-size: cover;
}

.btn {
    background-color: #519fb6;
}

@media screen and (max-width : 700px) and (orientation: portrait){
    iframe {
        display: none;
    }
}

@media screen and (min-width: 1200px){
    .event {
        width: 30vw;
    }
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    letter-spacing: 0.02em;

}
}